.profile {
  display: flex;
  margin: 0;
  padding: 0;
}

.profile__sidebar {
  margin-right: 116px;
  padding: 0;
}

.profile__clothing-items {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
}
.profile__error-message {
  color: #ff4d4d;
  background-color: #ffebeb;
  padding: 12px;
  margin: 0 0 20px 0;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
}
