.page {
  background-color: #f3f3f3;
}

.page__content {
  max-width: 1360px;
  max-width: 100%;
  padding: 0 40px 0 40px;
}
@media screen and (max-width: 375px) {
  .page__content {
    padding: 0 16px 0 16px;
  }
}
